{# src/JV/CoreBundle/Resources/views/Billetterie/confirmation.html.twig #}

{% extends "JVCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Confirmation
{% endblock %}

{% block jvcore_body %}

  	<h3>Confirmation</h3>

	<div>
		{% for style, message in app.session.flashbag.get('success') %}
			{%if style == 'success'%} {% set type = 'success' %} {%endif%}
        		<div class="alert alert-{{ type }}">
					<p>{{ message }}</p>
        		</div>
		{% endfor %}
	</div>

	<div>
		{% for style, message in app.session.flashbag.get('error') %}
			{%if style == 'error'%} {% set type = 'danger' %} {%endif%}
        		<div class="alert alert-{{ type }}">
					<p><strong>Attention : </strong>{{ message }}</p>
        		</div>
		{% endfor %}
	</div>

{% endblock %}

{% block script %}
	<script>

	</script>
{% endblock %}