{# src/JV/CoreBundle/Resources/views/Billetterie/coordonnees.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Coordonnées
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
			<h3 class="etapes">Les étapes</h3>
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#" id="menuCoordResa">1 - Réservation <i class="glyphicon glyphicon-ok pull-right"></i></a></li>
				<li><a href="#" id="menuCoordCoord">2 - Coordonnées</a></li>
				<li><a href="#">3 - Paiement</a></li>
				<li><a href="#">4 - Confirmation</a></li>
			</ul>
		</div>

		<div id="content" class="col-xs-12 col-sm-offset-1 col-sm-8 col-md-offset-1 col-md-8 col-lg-offset-1 col-lg-9">

			<h3>Coordonnées</h3>


			<div>

				{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
				{{ form_errors(form) }}

				<div class ="recapFormCommande">

					{{ form_row(form.dateReservation) }}
					{{ form_row(form.journee) }}
					{{ form_row(form.nbTicketNormal) }}
					{{ form_row(form.nbTicketNormal) }}
					{{ form_row(form.nbTicketEnfant) }}
					{{ form_row(form.nbTicketSenior) }}
					{{ form_row(form.nbTicketReduit) }}
					{{ form_row(form.nbTickets) }}
					{{ form_row(form.montant) }}
					{{ form_row(form.email) }}

				</div>

				<div class="welcome">
					<div class ="recapCommandeTitre">
						<h4>Récapitulatif de votre commande :</h4>
					</div>
					<div class = "recapCommandeCorps">
						<p>Votre réservation comprend,</p>
						<p>{{ billetterie.nbTickets }} ticket(s), pour le {{ billetterie.dateReservation|date('d/m/Y') }}.</p>
						<p>-> {{ billetterie.nbTicketNormal }} : Normal</p>
						<p>-> {{ billetterie.nbTicketEnfant }} : Enfant</p>
						<p>-> {{ billetterie.nbTicketSenior }} : Senior</p>
						<p>-> {{ billetterie.nbTicketReduit }} : Reduit.</p>
						<br />
						<p>Pour un montant total de : {{ billetterie.montant }} €.</p>
					</div>
				</div>

				<hr>

				<button id="ajouter_visiteur" class="btn btn-info">Saisir les coordonnées</button>

				<div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-8 col-sm-6 col-md-4 col-lg-3">
							{{ form_row(form.visiteurs) }}
						</div>
					</div>

					<br />


					<hr>

					<span id="messageErrorDate"></span>

					<div class="row">

						<a href="{{ path('jv_core_delete', {'id': billetterie.id}) }}" class="btn btn-warning pull-left">
							<i class="glyphicon glyphicon-trash"></i>
							Abandonner la commande
						</a>

						{{ form_widget(form.validation, { 'label': 'Suivant 3/4  >>>', 'attr' : {'class':'btn btn-info pull-right'}}) }}

					</div>
				</div>

			{{ form_end(form) }}

			<!--<button id="tester_date" class="btn btn-success">Enregistrer</button>-->

			</div>
		</div>
		
	</div>	

{% endblock %}

{% block script %}
	<script>
		
	</script>
{% endblock %}