{# src/JV/CoreBundle/Resources/views/Billetterie/coordonnees.html.twig #}

{% extends "JVCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Coordonnées
{% endblock %}

{% block jvcore_body %}

  	<h3>Coordonnées</h3>

	

	<div>
		
		{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
		{{ form_errors(form) }}
		
		<div class ="recapFormCommande">
		
		{{ form_row(form.dateReservation) }}
		{{ form_row(form.journee) }}
		{{ form_row(form.nbTicketNormal) }}
		{{ form_row(form.nbTicketNormal) }}
		{{ form_row(form.nbTicketEnfant) }}
		{{ form_row(form.nbTicketSenior) }}
		{{ form_row(form.nbTicketReduit) }}
		{{ form_row(form.nbTickets) }}
		{{ form_row(form.montant) }}
		{{ form_row(form.email) }}

		</div>
		
		<div class ="recapCommande">
			<p><strong>Récapitulatif de votre commande :</strong></p>
			<p>Votre réservation comprend {{ billetterie.nbTickets }} ticket(s), pour le {{ "now"|date("d/m/Y") }}.</p>
			<p>{{ billetterie.nbTicketNormal }} - Normal, {{ billetterie.nbTicketEnfant }} - Enfant,
			{{ billetterie.nbTicketSenior }} - Senior et {{ billetterie.nbTicketReduit }} - Reduit.</p>
			<p>Pour un montant total de {{ billetterie.montant }} €.</p>
		</div>
		
		<hr>
		
		<button id="ajouter_visiteur" class="btn btn-info">Saisir les coordonnées</button>

			{{ form_row(form.visiteurs) }}	
		
		<br />
		<button id="tester_date" class="btn btn-success">Enregistrer</button>
		
		<hr>
		
		<span id="messageErrorDate"></span>
				
		{{ form_widget(form.validation, {'attr' : {'class':'btn btn-info pull-right'}}) }}			

		{{ form_end(form) }}
		
	</div>
		
		

{% endblock %}

