<html>

  	<head>
	
	</head>


	<body>
		
		<div>
			<img src="http://localhost/louvre/web/bundles/image/louvre.jpg">
			<h3>
				<strong>
					Musée du Louvre - Billet(s)
				</strong>
				
			</h3>
		</div>
		
		<div>
			<p>Date de votre visite, le : {{ billetterie.dateReservation|date('d/m/Y') }}</p>
			<p>Code Réservation : {{ billetterie.codeReservation }} </p>
			<p><strong>{{ billetterie.nbTickets }}</strong> billet(s), pour un montant total de : <strong>{{ billetterie.montant }} €.</strong></p>
			
		</div>
		
		<br />
		
		<div>
			<p>Visiteur(s) :</p>
			<hr>
			{% for visiteur in billetterie.visiteurs %}
			<p> 
				N° {{ loop.index }} : {{ visiteur.nom }}, {{ visiteur.prenom }} - Tarif : {{ visiteur.ticket }} - Prix : {{ visiteur.prix }} €
			</p> 
			<hr>
			{% endfor %}
			
		</div>
		<br />
		<div>
			<p><strong>IMPORTANT : </strong>Conservez ce mail, il vous sera demandé à l'entrée du musée.</p>
			<br />
			<p>
				Chaque visiteur doit être en mesure de présenter lors de sa venue :
			</p>
			<p>
				-  pour le tarif réduit : un justificatif ( carte d'étudiant, carte militaire..)
			</p>
				- pour les autres tarifs : une pièce d'identité.
			<p>
			
		</div>
		<br />
		<div>
			<p>Nous vous remercions de votre commande et nous vous souhaitons, par avance, une excellent visite.</p>
			<p>L'équipe du Musée du Louvre</p>
		</div>
		
	</body>	

</html>

